<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<h2>List Blogs</h2>
<div class="notify">
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
</div>
<div sec:authorize="isAuthenticated()" class="center-block">
    <div >
        <button id="back-menu">
            <a th:href="@{/blog/create}">Add New Blog</a>
        </button>
    </div>
    <div style="float: right; margin-left: 996px">
        <span sec:authentication="principal.username"></span>
        <button>
            <a th:href="@{/logout}">logout</a>
        </button>
    </div>
</div>
<div sec:authorize="isAnonymous()" class="center-block">
    <button>
        <a th:href="@{/blogs}">Log in</a>
    </button>
</div>
<div>
    <form id="form">
        <input name="s" type="text" placeholder="Search by author"/>
        <input type="submit" value="Search"/>
    </form>
    <br/>
</div>
<table id="item-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Time Update</th>
        <th>Category</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.timeUpdate}"></td>
        <td th:text="${blog.category.name}"></td>
        <td>
            <button>
                <a th:href="@{/blog/{id}/edit(id=${blog.id})}">Edit</a>
            </button>
        </td>
        <td>
            <button>
                <a th:href="@{/blog/{id}/delete(id=${blog.id})}">Delete</a>
            </button>
        </td>
        <td>
            <button>
                <a th:href="@{/blog/{id}/detail(id=${blog.id})}">Detail</a>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/blogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>