<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<h2>Detail Blog</h2>
<table id="item-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Blog Page</th>
        <th>Description</th>
        <th>Time Update</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${blog}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.blogPage}"></td>
        <td th:text="${blog.description}"></td>
        <td th:text="${blog.timeUpdate}"></td>
        <td th:text="${blog.category.name}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>