<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Return</title>
</head>
<body>
    <h2>Return Book</h2>
    <div>
        <form action="/book/return" method="post">
            Enter your borrow code :
            <input type="text" name="borrowCode">
            <p th:if="${message}" >
                <span th:text="${message}"></span>
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>