<nav class="navbar navbar-expand-xl navbar-dark">
  <a routerLink="/home" class="navbar-brand">
    <i class="fa fa-cube"></i><b>FURAMA RESORT</b>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbarCollapse"
    class="collapse navbar-collapse justify-content-start"
  >
    <div class="navbar-nav ml-auto">
      <a routerLink="/home" class="nav-item nav-link"
        ><i class="fa fa-home"></i><span>Home</span></a
      >
      <a routerLink="/employee" class="nav-item nav-link"
        ><i class="fa fa-gears"></i><span>Employee</span></a
      >
      <a routerLink="/customer" class="nav-item nav-link"
        ><i class="fa fa-users"></i><span>Customer</span></a
      >
      <a routerLink="/service" class="nav-item nav-link"
        ><i class="fa fa-pie-chart"></i><span>Service</span></a
      >
      <a routerLink="/contract" class="nav-item nav-link"
        ><i class="fa fa-briefcase"></i><span>Contract</span></a
      >

      <div class="nav-item dropdown">
        <a
          routerLink="#"
          data-toggle="dropdown"
          class="nav-item nav-link dropdown-toggle user-action"
          ><img
            src="../../../../assets/images/avatar.jpg"
            class="avatar"
            alt="Avatar" />
          <span id="user-name"></span>
          <b class="caret"></b
        ></a>
        <div class="dropdown-menu">
          <a routerLink="#" class="dropdown-item"
            ><i class="fa fa-user-o"></i> Profile</a
          >
          <a routerLink="#" class="dropdown-item"
            ><i class="fa fa-calendar-o"></i> Calendar</a
          >
          <a routerLink="#" class="dropdown-item"
            ><i class="fa fa-sliders"></i> Settings</a
          >
          <div class="divider dropdown-divider"></div>
        </div>
      </div>
    </div>
  </div>
</nav>
