<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/menu_layout :: head"></th:block>
    <link rel="stylesheet" href="/css/form_edit_create.css">
</head>
<body>
<div th:replace="/menu_layout :: menu-nav"></div>

<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                        <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                        <h6>
                            <a href="/employee/list">Back</a>
                        </h6>
                    </div>
                    <h6 class="text-right">Add New Employee</h6>
                </div>
                <form method="post" th:action="@{/employee/save}" th:object="${employee}">
<!--                    <input type="hidden" th:field="*{id}"/>-->
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Name"
                                    th:field="*{name}"
                            />
                        </div>
                        <div class="col-md-6">
                            <input
                                    type="date"
                                    class="form-control"
                                    placeholder="Birthday e.g : YYYY-MM-DD"
                                    th:field="*{birthday}"
                            />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="ID Card : max 9 or 12 digits"
                                    th:field="*{idCard}"
                            />
                        </div>
                        <div class="col-md-6">
                            <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Salary"
                                    th:field="*{salary}"
                            />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Email e.g : abc@gmail.com"
                                    th:field="*{email}"
                            />
                        </div>
                        <div class="col-md-6">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Phone Number : 090XXXXXXX - 091XXXXXXX - +(84) 90XXXXXXX - +(84) 91XXXXXXX"
                                    th:field="*{phoneNumber}"
                            />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Address"
                                    th:field="*{address}"
                            />
                        </div>
                        <div class="col-md-6">
                            <select th:field="*{position.id}" class="form-control">
                                <option value="1">receptionist</option>
                                <option value="2">waiter</option>
                                <option value="3">specialist</option>
                                <option value="4">supervisor</option>
                                <option value="5">manager</option>
                                <option value="6">director</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <select th:field="*{educationDegree.id}" class="form-control">
                                <option value="1">intermediate</option>
                                <option value="2">college</option>
                                <option value="3">university</option>
                                <option value="4">postgraduate</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select th:field="*{division.id}" class="form-control">
                                <option value="1">sale-marketing</option>
                                <option value="2">administration</option>
                                <option value="3">service</option>
                                <option value="4">management</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <span th:if="${message}" th:text="${message}"></span>
                        </div>
                    </div>
                    <div class="mt-5 text-right">
                        <input type="submit" value="Save" class="btn btn-primary profile-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>