<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/menu_layout :: head">
</head>
<body>
<!-- menu navbar -->
<div th:replace="/menu_layout :: menu-nav"></div>

<!--container of list items-->
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>
                            Employee <b>Details</b>
                            <span>
                                    <a th:href="@{/employee/create}">
                                        <button class="btn btn-danger profile-button" type="button">
                                          Register
                                        </button>
                                    </a>
                                </span>
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="table-search-box">
                            <form th:action="@{/employee/search}" id="searchForm">
                                <a class="search-btn" onclick="$('#searchForm').submit()">
                                    <i class="material-icons">&#xE8B6;</i>
                                </a>
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Search by name &hellip;"
                                        name="search-data"
                                />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <table id="table-page" class="table table-striped table-hover table-bordered table-responsive text-nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>ID Card</th>
                    <th>Salary</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Education Degree</th>
                    <th>Division</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${listEmployee}">
                    <td th:text="${employee.id}" ></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.birthday}"></td>
                    <td th:text="${employee.idCard}"></td>
                    <td th:text="${employee.salary}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.position.name}"></td>
                    <td th:text="${employee.educationDegree.name}"></td>
                    <td th:text="${employee.division.name}"></td>
                    <td>
                        <a
                                th:href="@{/employee/edit/{id}(id=${employee.id})}"
                                class="edit"
                                title="Edit"
                                data-toggle="tooltip"
                        ><i class="material-icons">&#xE254;</i></a
                        >
                        <a
                                href="#deleteModal"
                                class="delete"
                                title="Delete"
                                data-toggle="modal"
                                th:onclick="|setId(${employee.id})|"

                        >
                            <i class="material-icons">&#xE872;</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>

<div th:replace="/menu_layout :: delete-modal"></div>

<form action="/employee/delete" id="delete-item">
    <input type="hidden" id="id-item" name="id" />
</form>

<script>
    $(document).ready(function () {
        $('#table-page').dataTable(
            {
                "dom" : 'lrtip',
                "lengthChange" : false,
                "pageLength" : 4
            }
        );
    });

    // functions for deleting item
    function setId(id) {
        document.getElementById("id-item").value = id;
    }
    function submitDelete() {
        document.getElementById("delete-item").submit();
    }
</script>

</body>
</html>