<div class="container rounded bg-white mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex flex-row align-items-center back">
            <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
            <h6>
              <a routerLink="/customer">Back</a>
            </h6>
          </div>
          <h6 class="text-right">Add New Customer</h6>
        </div>
        <form (ngSubmit)="onSubmit()">
          <!-- <input type="hidden" th:field="*{id}"/> -->
          <div class="row mt-2">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                name="name"
                [(ngModel)]="customer.name"
              />
            </div>
            <div class="col-md-6">
              <input
                type="date"
                class="form-control"
                placeholder="Birthday e.g : YYYY-MM-DD"
                name="birthday"
                [(ngModel)]="customer.birthday"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="ID Card : max 9 or 12 digits"
                name="idCard"
                [(ngModel)]="customer.idCard"
              />
            </div>
            <div class="col-md-6">
              <select
                [(ngModel)]="customer.gender"
                class="form-control"
                name="gender"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Email e.g : abc@gmail.com"
                name="email"
                [(ngModel)]="customer.email"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number : 090XXXXXXX - 091XXXXXXX - +(84) 90XXXXXXX - +(84) 91XXXXXXX"
                name="phoneNumber"
                [(ngModel)]="customer.phoneNumber"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Address"
                name="address"
                [(ngModel)]="customer.address"
              />
            </div>
            <div class="col-md-6">
              <select
                [(ngModel)]="customer.customerType"
                class="form-control"
                name="type"
              >
                <option value="1">Diamond</option>
                <option value="2">Platinium</option>
                <option value="3">Gold</option>
                <option value="4">Silver</option>
                <option value="5">Member</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Customer code e.g : KH-XXXX"
                name="code"
                [(ngModel)]="customer.code"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6"></div>
          </div>
          <div class="mt-5 text-right">
            <input
              type="submit"
              value="Save"
              class="btn btn-primary profile-button"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
