<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<h2>Add New Blog</h2>
<div id="form">
    <form action="#" th:action="@{/blog/save}" th:object="${blog}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>