<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/menu_layout :: head">
</head>
<body>
<!-- menu navbar -->
<div th:replace="/menu_layout :: menu-nav"></div>

<!--container of list items-->
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>
                            Contract <b>Details</b>
                            <span>
                                    <a th:href="@{/contract/create}">
                                        <button class="btn btn-danger profile-button" type="button">
                                          Add New
                                        </button>
                                    </a>
                                </span>
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="table-search-box">
                            <form th:action="@{/contract/search}" id="searchForm">
                                <a class="search-btn" onclick="$('#searchForm').submit()">
                                    <i class="material-icons">&#xE8B6;</i>
                                </a>
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Search by Customer &hellip;"
                                        name="search-data"
                                />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <table id="table-page" class="table table-striped table-hover table-bordered table-responsive text-nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Deposit</th>
                    <th>Total</th>
                    <th>Employee</th>
                    <th>Customer</th>
                    <th>Service</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract : ${listContract}">
                    <td th:text="${contract.id}" ></td>
                    <td th:text="${contract.startDate}"></td>
                    <td th:text="${contract.endDate}"></td>
                    <td th:text="${contract.deposit}"></td>
                    <td th:text="${contract.total}"></td>
                    <td th:text="${contract.employee.name}"></td>
                    <td th:text="${contract.customer.name}"></td>
                    <td th:text="${contract.service.name}"></td>
                    <td>
                        <a
                                th:href="@{/contract/edit/{id}(id=${contract.id})}"
                                class="edit"
                                title="Edit"
                                data-toggle="tooltip"
                        ><i class="material-icons">&#xE254;</i></a
                        >
                        <a
                                th:href="@{/contract/detail/{id}(id=${contract.id})}"
                                class="my_library_books"
                                title="Detail"
                                data-toggle="tooltip"
                        ><i class="material-icons">&#xe02f;</i></a
                        >
                        <a
                                href="#deleteModal"
                                class="delete"
                                title="Delete"
                                data-toggle="modal"
                                th:onclick="|setId(${contract.id})|"

                        >
                            <i class="material-icons">&#xE872;</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>

<div th:replace="/menu_layout :: delete-modal"></div>

<form action="/customer/delete" id="delete-item">
    <input type="hidden" id="id-item" name="id" />
</form>

<script>
    $(document).ready(function () {
        $('#table-page').dataTable(
            {
                "dom" : 'lrtip',
                "lengthChange" : false,
                "pageLength" : 4
            }
        );
    });

    // functions for deleting item
    function setId(id) {
        document.getElementById("id-item").value = id;
    }
    function submitDelete() {
        document.getElementById("delete-item").submit();
    }
</script>

</body>
</html>