body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

button {
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
button:hover {
  background: red;
  color: black;
}
.add-product {
  padding: 25px;
  background-color: azure;
}

.add-product input {
  margin-right: 10px;
  height: 27px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1px;
}
.table-product {
  position: relative;
}

span {
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 16px;
}

#number-product {
  position: absolute;
  right: 3%;
  color: crimson;
}

#head-table {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-spacing: 0px;
}

th,
td {
  padding: 20px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
